node-red-nightscout.json
[
    {
        "id": "43b862075df053cc",
        "type": "tab",
        "label": nightscout",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7d5475a67c99bf0",
        "type": "http request",
        "z": "43b862075df053cc",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://URL-NS/api/v2/properties/",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "726df5d395d8eaaf",
                "3bc03b03ef5d3112",
                "5981c92adadbec95",
                "01adc7a489ea6ad8",
                "2151dc0ad34fd6be",
                "90850f120ac7f45f",
                "96cb8743edaea30b",
                "47f3aeb719b21c53",
                "1728e8a8df03b2a6",
                "5fd9c2eacfe132e2",
                "a98e309f3a595221",
                "3da8f211c04f1683",
                "b7f0a83f3cf3dd11",
                "95b499e108e19caa",
                "ed24a92d258c2106"
            ]
        ]
    },
    {
        "id": "1dd4f2c92eed7d25",
        "type": "inject",
        "z": "43b862075df053cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "150",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "a7d5475a67c99bf0",
                "0de2b0f5db2bd90d"
            ]
        ]
    },
    {
        "id": "5981c92adadbec95",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "bg",
        "func": "msg.payload = msg.payload.bgnow.last / 18;\nmsg.desc=\"bg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 160,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "01adc7a489ea6ad8",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "delta",
        "func": "msg.payload = msg.payload.delta.scaled;\nmsg.desc=\"delta\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "2151dc0ad34fd6be",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "iob",
        "func": "msg.payload = msg.payload.iob.iob;\nmsg.desc=\"iob\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "90850f120ac7f45f",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "cob",
        "func": "msg.payload=msg.payload.cob.cob;\nmsg.desc=\"cob\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 280,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "c6c51fadc101cd93",
        "type": "join",
        "z": "43b862075df053cc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "desc",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "14",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "38fd2d3e797b4fb0",
                "1223bd43828ddc7d"
            ]
        ]
    },
    {
        "id": "96cb8743edaea30b",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "cartridge",
        "func": "msg.payload=msg.payload.pump.data.reservoir.value;\nmsg.desc=\"zasobnik\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 320,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "38fd2d3e797b4fb0",
        "type": "debug",
        "z": "43b862075df053cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1470,
        "y": 160,
        "wires": []
    },
    {
        "id": "1223bd43828ddc7d",
        "type": "influxdb out",
        "z": "43b862075df053cc",
        "influxdb": "f474a7ee545d502f",
        "name": "",
        "measurement": "testovaci",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1480,
        "y": 360,
        "wires": []
    },
    {
        "id": "0de2b0f5db2bd90d",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "id",
        "func": "msg.payload = \"lukin\";\nmsg.desc=\"id\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 120,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "4397362c5e7530fa",
        "type": "deduplicate",
        "z": "43b862075df053cc",
        "name": "",
        "keyproperty": "",
        "expiry": "240",
        "x": 1030,
        "y": 80,
        "wires": [
            [
                "c6c51fadc101cd93"
            ],
            []
        ]
    },
    {
        "id": "3bc03b03ef5d3112",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "cas",
        "func": "msg.payload = msg.payload.bgnow.mills;\nmsg.desc=\"cas\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 80,
        "wires": [
            [
                "4397362c5e7530fa"
            ]
        ]
    },
    {
        "id": "47f3aeb719b21c53",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "basal",
        "func": "msg.payload=msg.payload.basal.current.basal;\nmsg.desc=\"basal\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 360,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "1728e8a8df03b2a6",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "TBR",
        "func": "msg.payload=msg.payload.basal.current.tempbasal;\nmsg.desc=\"tbr\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 400,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "5fd9c2eacfe132e2",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "zasobnik",
        "func": "msg.payload=msg.payload.pump.pump.reservoir;\nmsg.desc=\"zasobnik\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 440,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "a98e309f3a595221",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "mobil bat",
        "func": "msg.payload=msg.payload.upbat.min.battery;\nmsg.desc=\"mbatery\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 480,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "3da8f211c04f1683",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "pump bat",
        "func": "msg.payload=msg.payload.pump.pump.battery.percent;\nmsg.desc=\"pbatery\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 520,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "b7f0a83f3cf3dd11",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "ISF",
        "func": "var ISF\n//msg.payload = msg.payload.pump.openaps.suggested.reason.split(',');\nmsg.payload = msg.payload.openaps.lastSuggested.reason.split(',');\nmsg.payload = parseFloat(msg.payload[3].substr(6));\nmsg.desc = \"isf\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "95b499e108e19caa",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "sens",
        "func": "//msg.payload = msg.payload.pump.openaps.suggested.sensitivityRatio;\nmsg.payload = msg.payload.openaps.lastSuggested.sensitivityRatio;\nmsg.desc=\"sens\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 600,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "ed24a92d258c2106",
        "type": "function",
        "z": "43b862075df053cc",
        "name": "targetBG",
        "func": "//msg.payload = msg.payload.pump.openaps.suggested.targetBG;\nmsg.payload = msg.payload.openaps.lastSuggested.targetBG;\nmsg.desc =\"targetBG\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 640,
        "wires": [
            [
                "c6c51fadc101cd93"
            ]
        ]
    },
    {
        "id": "726df5d395d8eaaf",
        "type": "debug",
        "z": "43b862075df053cc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "f474a7ee545d502f",
        "type": "influxdb",
        "hostname": "influx.home.local",
        "port": "8086",
        "protocol": "http",
        "database": "nightscout",
        "name": "infux",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]
